<!DOCTYPE html>
<html>

<head>
    <title>182033-Simeon's file api sorting website</title>
</head>

<body>
    <div>

        <p>Use this site to sort you file</p>

        <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/receiveFile">
            <input id="fileupload" name="myfile" type="file" />
            <input type="submit" value="submit" id="submit" />
        </form>

    </div>

</body>

</html>